In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df  = pd.read_csv("/content/housing.csv")
df.head()
df.shape

(20640, 10)

In [ ]:
df.isna().sum()

In [ ]:
hdf = pd.read_csv("/content/housing.csv")

In [ ]:
hdf.drop('total_bedrooms',axis=1,inplace=True)

In [ ]:
hdf.head()
#hdf.isna().sum()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
hdf.dtypes
hdf.nunique()

In [ ]:
Y = pd.DataFrame(hdf['median_house_value'])
hdf.drop('median_house_value',axis=1,inplace=True)
X=hdf

In [ ]:
Y.head()
#X.head()

   median_house_value
0            452600.0
1            358500.0
2            352100.0
3            341300.0
4            342200.0

**Coloumn Transformers, Selectors**

In [ ]:
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder 
 
preprocessing = make_column_transformer(
    (StandardScaler(), make_column_selector(dtype_include=np.number)),
    (OneHotEncoder(sparse=False), make_column_selector(dtype_include = object))
)

pro_X = pd.DataFrame(preprocessing.fit_transform(X))
pro_X.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.327835,1.052548,0.982143,-0.804819,-0.974429,-0.977033,2.344766,0.0,0.0,0.0,1.0,0.0
1,-1.322844,1.043185,-0.607019,2.045890,0.861439,1.669961,2.332238,0.0,0.0,0.0,1.0,0.0
2,-1.332827,1.038503,1.856182,-0.535746,-0.820777,-0.843637,1.782699,0.0,0.0,0.0,1.0,0.0
3,-1.337818,1.038503,1.856182,-0.624215,-0.766028,-0.733781,0.932968,0.0,0.0,0.0,1.0,0.0
4,-1.337818,1.038503,1.856182,-0.462404,-0.759847,-0.629157,-0.012881,0.0,0.0,0.0,1.0,0.0

**Train-Test-Split**

In [ ]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(pro_X,Y,train_size = 0.8)

In [ ]:
train_x

**PIPELINE:** 
>Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:

The Pipeline is built using a list of (key, value) pairs, where the key is a string containing the name you want to give this step and value is an estimator object:

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, accuracy_score

lr = LinearRegression()
lr.fit(train_x,train_y)
dr = DecisionTreeRegressor()
dr.fit(train_x,train_y)

yp1 = lr.predict(test_x)
yp2 = dr.predict(test_x)
estimators = [('acc_score',accuracy_score(test_y,yp2)),('mean_error',mean_absolute_error(test_y,yp1))]

pipe = Pipeline(estimators)

TypeError: ignored

Make-Pipeline
>The utility function make_pipeline is a shorthand for constructing pipelines; it takes a variable number of estimators and returns a pipeline, filling in the names automatically: