In [ ]:
import pandas as pd
import numpy as np
rdt=pd.read_csv("Carseats.csv")
rdt.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [ ]:
Y=rdt['Sales']
features=['CompPrice','Income','Advertising','Population','Price','Education']
X=rdt[features]

In [ ]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(X,Y, random_state=1, shuffle=0)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

dtmodel=DecisionTreeRegressor()

def mae(max_leaf_nodes,train_x,test_x,train_y,test_y):
  dtmodel.fit(train_x,train_y)
  y_pred=rfmodel.predict(test_x)
  error=mean_absolute_error(test_y,y_pred)
  return error

In [ ]:
dtmodel=DecisionTreeRegressor(max_leaf_nodes=5)
dtmodel.fit(train_x,train_y)
y_pred=dtmodel.predict(test_x)

In [ ]:
from sklearn.metrics import mean_absolute_error

error=mean_absolute_error(test_y,y_pred)
error

1.9031908697577316

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rfmodel=RandomForestRegressor(random_state=1)
rfmodel.fit(train_x,train_y)
y_predict=rfmodel.predict(test_x)
rerror=mean_absolute_error(test_y,y_predict)
rerror

1.7266190000000001

In [ ]:
tree_size=[5,10,20,30,50]
error_list=[]
for i in tree_size:
  error_list.append(mae(i,train_x,test_x,train_y,test_y))
error_list

[1.7266190000000001,
 1.7266190000000001,
 1.7266190000000001,
 1.7266190000000001,
 1.7266190000000001]

In [ ]:
from sklearn.metrics import r2_score
r2sq = r2_score(test_y,y_predict)  
r2sq

0.3356601938504309

In [ ]:
print(y_predict, test_y, sep='\n')

[ 5.9352 10.2328  5.8095  7.5916  7.5284  9.6917  5.0816  8.6852  8.3399
  6.6245  6.1896  6.263   8.5251  5.3155  6.4774  7.7857  9.7322 11.3753
  4.8398  6.4695  6.2394  5.2232  8.0914  5.5807  8.072   5.9828  6.6478
  6.6444  9.2714  6.907   5.942   7.7223  6.0014  8.0186  5.8198 10.7684
  8.2774  6.4405  5.8832 11.406   7.2919  9.2591 10.2085  5.9967  7.129
  6.1116  8.009   7.648   6.6253  5.078   6.4117 10.8245 10.8644 12.1054
  7.4896  9.0419 10.1797  8.3945 10.538   7.095   7.838   8.6695  6.6823
 10.2668  5.4498  5.261   5.0962  7.8732 11.347   5.7527  8.8177  6.3633
  9.6876 10.0818  7.0144  5.1062  9.5759  7.0486  6.7781  5.412   9.5792
  6.6845  9.4644  9.2707  5.7271  5.6987  6.8029  7.5302  9.8198  5.8078
 11.5598  5.527   7.799   6.3905  6.0309  7.0988  8.5809  7.9285  9.0396
  6.4405]
398     5.94
125     9.34
328     3.15
339    11.54
172     9.03
       ...
300     8.57
277     7.80
289     8.75
260     7.67
173     6.38
Name: Sales, Length: 100, dtype: float64