In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('diabetes.csv')

In [ ]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
y=data.Outcome

In [ ]:
x=data.iloc[:,:8]

In [ ]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
train_x = ss.fit_transform(train_x)
test_x = ss.fit_transform(test_x)

In [ ]:
test_y

382    0
613    0
583    0
738    0
23     1
      ..
93     1
188    1
764    0
528    0
60     0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.svm import SVC
model = SVC()
kernel = ['poly', 'rbf', 'sigmoid']
C = [50, 10, 1.0, 0.1, 0.01]
gamma = ['scale']

In [ ]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

grid = dict(kernel=kernel,C=C,gamma=gamma)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='f1',error_score=0)

In [ ]:
grid_search.fit(train_x,train_y)

GridSearchCV(cv=RepeatedStratifiedKFold(n_repeats=3, n_splits=10, random_state=1),
             error_score=0, estimator=SVC(), n_jobs=-1,
             param_grid={'C': [50, 10, 1.0, 0.1, 0.01], 'gamma': ['scale'],
                         'kernel': ['poly', 'rbf', 'sigmoid']},
             scoring='f1')

In [ ]:
y_pred = grid_search.predict(test_x)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(test_y,y_pred)
acc

0.7012987012987013

In [ ]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(train_x,train_y)

SVC()

In [ ]:
y_pred = svc.predict(test_x)

In [ ]:
accuracy = accuracy_score(test_y,y_pred)
accuracy

0.7402597402597403