In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train_data=pd.read_csv('train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train_data.dtypes
train_data.shape

(891, 12)

In [ ]:
train_data.drop(['Ticket','Cabin','Name','PassengerId'],axis=1,inplace=True)

In [ ]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

**SimpleImputer**

In [ ]:
from sklearn.impute import SimpleImputer

si = SimpleImputer(missing_values=np.nan,strategy='mean')
train_data[['Age']] = si.fit_transform(train_data[['Age']])

In [ ]:
train_data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [ ]:
train_data.dropna(inplace=True)
train_data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
train_data.shape

(889, 8)

**LabelEncoder  ,  OneHotEncoder**

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
ohe = OneHotEncoder()

train_data['Sex'] = le.fit_transform(train_data['Sex'])
ohe_x = pd.DataFrame(ohe.fit_transform(train_data[['Embarked']]).toarray())

In [ ]:
ohe_x.head()

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [ ]:
ohe_x.isna().sum()

0    0
1    0
2    0
dtype: int64

In [ ]:
train_data.drop('Embarked',axis=1,inplace=True)
train_data = train_data.join(ohe_x)

In [ ]:
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare    0    1    2
0         0       3    1  22.0      1      0   7.2500  0.0  0.0  1.0
1         1       1    0  38.0      1      0  71.2833  1.0  0.0  0.0
2         1       3    0  26.0      0      0   7.9250  0.0  0.0  1.0
3         1       1    0  35.0      1      0  53.1000  0.0  0.0  1.0
4         0       3    1  35.0      0      0   8.0500  0.0  0.0  1.0

In [ ]:
train_data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
0           2
1           2
2           2
dtype: int64

In [ ]:
train_data.dropna(inplace=True)

In [ ]:
train_data.rename(columns = {0:'C', 1:'Q',2:'S'}, inplace = True)

In [ ]:
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare    C    Q    S
0         0       3    1  22.0      1      0   7.2500  0.0  0.0  1.0
1         1       1    0  38.0      1      0  71.2833  1.0  0.0  0.0
2         1       3    0  26.0      0      0   7.9250  0.0  0.0  1.0
3         1       1    0  35.0      1      0  53.1000  0.0  0.0  1.0
4         0       3    1  35.0      0      0   8.0500  0.0  0.0  1.0

**SPLITTING**

In [ ]:
train_x = train_data.iloc[:,1:]
train_y = train_data.iloc[:,0:1]

In [ ]:
train_x.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
C         0
Q         0
S         0
dtype: int64

**TEST DATA**

In [ ]:
test_x = pd.read_csv('test.csv')

In [ ]:
test_x.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
test_x.drop(['Name','Ticket','Cabin','PassengerId'],axis=1,inplace=True)

In [ ]:
test_x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [ ]:
test_x.iloc[:,2:6] = si.fit_transform(test_x.iloc[:,2:6])

In [ ]:
test_x['Sex']=le.fit_transform(test_x['Sex'])

In [ ]:
ohe2_x = pd.DataFrame(ohe.fit_transform(test_x[['Embarked']]).toarray())

In [ ]:
ohe2_x.head()

     0    1    2
0  0.0  1.0  0.0
1  0.0  0.0  1.0
2  0.0  1.0  0.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [ ]:
test_x.drop('Embarked',axis=1,inplace=True)
test_x = test_x.join(ohe2_x)

In [ ]:
test_x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare    0    1    2
0       3    1  34.5    0.0    0.0   7.8292  0.0  1.0  0.0
1       3    0  47.0    1.0    0.0   7.0000  0.0  0.0  1.0
2       2    1  62.0    0.0    0.0   9.6875  0.0  1.0  0.0
3       3    1  27.0    0.0    0.0   8.6625  0.0  0.0  1.0
4       3    0  22.0    1.0    1.0  12.2875  0.0  0.0  1.0

In [ ]:
test_x.rename(columns = {0:'C', 1:'Q',2:'S'}, inplace = True)

In [ ]:
test_x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare    C    Q    S
0       3    1  34.5    0.0    0.0   7.8292  0.0  1.0  0.0
1       3    0  47.0    1.0    0.0   7.0000  0.0  0.0  1.0
2       2    1  62.0    0.0    0.0   9.6875  0.0  1.0  0.0
3       3    1  27.0    0.0    0.0   8.6625  0.0  0.0  1.0
4       3    0  22.0    1.0    1.0  12.2875  0.0  0.0  1.0

**MODEL BUILDING**

In [ ]:
test_data = pd.read_csv('gender_submission.csv')

In [ ]:
test_data.shape

(418, 2)

In [ ]:
test_y = test_data['Survived']

**DecisionTreeClassifier**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(max_leaf_nodes=15)
dtc.fit(train_x,train_y)

DecisionTreeClassifier(max_leaf_nodes=15)

In [ ]:
y_predict = dtc.predict(test_x)

In [ ]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(test_y,y_predict)
acc

0.916267942583732

**Visualizing**

**RandomForestClassifier**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(train_x,train_y)
y_predict2 = rfc.predict(test_x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [ ]:
acc2 = accuracy_score(test_y,y_predict2)
acc2

0.8325358851674641

**SupportVectorClassifier**

In [ ]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(train_x,train_y)
y_predict3 = svc.predict(test_x)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
acc3 = accuracy_score(test_y,y_predict3)
acc3

0.65311004784689

**Naive Bayes**
>
>P(h/D) = P(D/h) * p(h)/P(D)

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb.fit(train_x,train_y)
y_predict4 = nb.predict(test_x)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
acc4 = accuracy_score(test_y,y_predict4)
acc

0.916267942583732

**Submission**

In [ ]:
y_sub = pd.DataFrame(y_predict)

In [ ]:
passId = pd.DataFrame(test_data['PassengerId'])

In [ ]:
y_sub

In [ ]:
passId

In [ ]:
submission = passId.join(y_sub)

In [ ]:
submission.rename(columns={0:'Survived'},inplace=True)

In [ ]:
submission

In [ ]:
#submission.to_csv("submission.csv",index=None)

In [ ]:
train_x.head()

In [ ]:
train_y.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
train_X = ss.fit_transform(train_x)
test_X = ss.fit_transform(test_x)

In [ ]:
train_X =pd.DataFrame(train_X)
test_X =pd.DataFrame(test_X)

In [ ]:
test_X.head()

,0,1,2,3,4,5,6,7,8
0,0.873482,0.755929,0.334993,-0.499470,-0.400248,-0.498407,-0.568142,2.843757,-1.350676
1,0.873482,-1.322876,1.325530,0.616992,-0.400248,-0.513274,-0.568142,-0.351647,0.740370
2,-0.315819,0.755929,2.514175,-0.499470,-0.400248,-0.465088,-0.568142,2.843757,-1.350676
3,0.873482,0.755929,-0.259330,-0.499470,-0.400248,-0.483466,-0.568142,-0.351647,0.740370
4,0.873482,-1.322876,-0.655545,0.616992,0.619896,-0.418471,-0.568142,-0.351647,0.740370

In [ ]:
dtc.fit(train_X,train_y)
predicted_y = dtc.predict(test_X)

In [ ]:
accuracy = accuracy_score(test_y,predicted_y)
accuracy

0.9425837320574163

In [ ]:
gs = pd.read_csv('/content/gender_submission.csv')

In [ ]:
passid = pd.DataFrame(gs['PassengerId'])

In [ ]:
y_p = pd.DataFrame(predicted_y)

In [ ]:
submis = passid.join(y_p)

In [ ]:
submis.head()

In [ ]:
submis.rename(columns={0:'Survived'},inplace=True)

In [ ]:
submis.head()

In [ ]:
submis.to_csv("submission.csv",index=None)